name: 'CI'
on:
  pull_request:
  push:
    branches:
      - main

jobs:
  lint-build-check-test-and-use:
    name: Lint, Build, Check, Test and Use
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6

      - name: Set up pnpm
        uses: pnpm/action-setup@41ff72655975bd51cab0327fa583b6e92b6d3061 # v4

      - name: Set up Node.js
        uses: actions/setup-node@395ad3262231945c25e8478fd5baf05154b1d79f # v6
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          node-version-file: '.node-version'

      - name: Install dependencies
        run: |
          pnpm install --frozen-lockfile

      - name: Lint
        run: |
          pnpm run lint

      - name: Build
        run: |
          pnpm run build

      - name: Check repo status
        run: |
          repo_status=$(git status --porcelain)
          if [[ ! -z "${repo_status}" ]]; then
            echo "::error::Uncommitted changes detected"
            echo "${repo_status}"
            git status -vv
            exit 1
          fi

      - name: Test
        run: |
          pnpm run test

      - uses: cerbos/cerbos-setup-action@d7550f020dbe2b32b3b830c1a8223699ed7a7942 # v1
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          version: 'latest'

      - name: Use action
        uses: ./
